* {
  text-align: center;

  margin: 0px;
  padding: 0px;
  border: 0px none;
  vertical-align: baseline;
}

A:link    {color:#fff; text-decoration: none;}
A:visited {color:#fff; text-decoration: none;}
A:active  {color:#fff; text-decoration: none;}
A:hover   {text-decoration: none;}

.app      { margin-top: 20px; }
.ios-bar  { margin-top: 20px; }
.big-icon { font-size: 10em; }

.kchung {
  position: relative;

  width: 98.5%;
  margin: 0 auto;
}

.branding a img {
  width: 100%;
}

.play-pause {
  margin-top: 150px;
}

.hidden {
  display: none;
  opacity: 0;
}
